

.nav {
    top: 0;
    position: fixed;
    width: 100%;
    height: 40px;
    padding: 5px 10px 10px 10px;
    z-index: 1;

    display: flex;
    justify-content: center;
    /* justify-content:; */
    
    /* animation */
    transition-timing-function: ease-in;
    transition: all 0.5s;
    background-color: rgb(25, 103, 105);
    
}

.nav-black {
    background-color: black;
}

.nav div {
    font-size: xx-large;
    font-weight: bold;
    font-style: italic;
}

.nav-avatar {
    position: fixed;
    width: 30px ;
    right: 20px;
    object-fit: contain;
}