

input {
    background-color: #1976d2;
    border-radius: 4px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    padding: 10px 16px;
    margin: 2px 50px;
    text-align: center;
    border: none    ;
}
